/* Reset e corpo */
body {
    margin: 0;
    background: #000;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Canvas do jogo */
#tela {
    display: none; /* canvas escondido no início */
    width: 600px;
    height: 800px;
    background: #111;
    border: 2px solid #444;
}

/* Telas Home e Game Over */
#home-screen, #gameover-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagens de fundo */
#home-bg, #gameover-bg {
    width: auto;
    height: 100%;
    object-fit: contain; /* mantém proporção */
    display: block;
}

/* Botões padrão */
#btn-start, #recomecar-btn, #sair-btn {
    position: absolute;
    cursor: pointer;
    display: block; /* clique só na imagem */
    width: 200px;   /* ajuste largura padrão */
    height: auto;   /* mantém proporção */
}

/* Botão Start centralizado na Home */
#btn-start {
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Botões Recomeçar e Sair lado a lado no Game Over */
#recomecar-btn {
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#sair-btn {
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
}

/* 1 — tiro simples */
.tiro-simples {
    --cor: #ffff66;
    --glow: 5px;
}

/* 2 — tiro simples rápido */
.tiro-rapido {
    --cor: #ffdd44;
    --glow: 7px;
}

/* 3 — dupla frente */
.tiro-duplo {
    --cor: #ff9933;
    --glow: 8px;
}

/* 4 — dupla rápida */
.tiro-duplo-rapido {
    --cor: #ff8800;
    --glow: 10px;
}

/* 5 — dupla diagonal */
.tiro-diagonal {
    --cor: #ff5500;
    --glow: 10px;
}

/* 6 — tripla frente */
.tiro-triplo {
    --cor: #ff3300;
    --glow: 12px;
}

/* 7 — espalhamento 5 */
.tiro-esp5 {
    --cor: #ff0044;
    --glow: 12px;
}

/* 8 — espalhamento 7 */
.tiro-esp7 {
    --cor: #ff0099;
    --glow: 13px;
}

/* 9 — rajada */
.tiro-rajada {
    --cor: #cc00ff;
    --glow: 14px;
}

/* 10 — onda */
.tiro-onda {
    --cor: #9900ff;
    --glow: 14px;
}